@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./styles/fonts.css");
@import url("./styles/reset.css");

.fade-header {
  position: fixed;
  height: 10rem;
  width: 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, white 50%, transparent)
}

.wrap-container {
  @apply rounded-xl;
  @apply m-4;
  @apply p-4;
  @apply bg-white
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}